<h1 class="text-2xl md:text-3xl font-semibold">Mes chiens</h1>

<!--  -->

<!-- TODO REVOIR STYLE DU FORMULAIRE -->

<!--  -->

<app-card-wrapper class="mt-8 sm:mt-4 lg:mt-14">
  <form
    [formGroup]="addDogForm"
    (ngSubmit)="onSubmitDogForm()"
    class="sm:w-[500px]"
  >
    <div class="flex flex-col gap-y-5">
      <!-- DOG NAME -->
      <app-custom-input
        inputName="name"
        label="Nom"
        placeholder="Rex"
        type="text"
        formControlName="name"
        [errorMessage]="displayErrors ? nameError : ''"
        (valueChange)="onFieldChange()"
      />

      <!-- 
        TODO POUR L'AVATAR PEUT ETRE FAIRE UNE MODAL QUI S'OUVRE ET QUAND IL CLIQUE DESSUS CA LE CHOISI
        PLUS PROPRE QUE LE SELECT
      -->
      <div class="flex flex-col gap-y-1">
        <label for="selectedAvatar" class="text-sm">Choisir un avatar</label>
        <p-select
          [options]="avatars"
          formControlName="selectedAvatar"
          optionLabel="name"
          [showClear]="true"
          placeholder="Choix de l'avatar"
          class="w-full md:w-56"
          emptyMessage="Pas d'avatars disponible"
          styleClass="custom-select"
        >
          <ng-template #selectedItem let-selectedOption>
            <div class="flex items-center gap-2">
              <div class="flex items-center gap-2">
                <img
                  [src]="'/images/dog-avatar/' + selectedOption.url"
                  style="width: 20px"
                />
              </div>
            </div>
          </ng-template>
          <ng-template let-avatar #item>
            <div class="flex items-center gap-2">
              <img
                [src]="'/images/dog-avatar/' + avatar.url"
                style="width: 50px"
              />
            </div>
          </ng-template>
        </p-select>
        @if (displayErrors && avatarError) {
        <p class="text-xs text-error">{{ avatarError }}</p>
        }
      </div>

      <!-- BIRTHDATE -->
      <div class="flex flex-col gap-y-1">
        <label for="birthdate" class="text-sm">Date de naissance</label>
        <p-datepicker
          formControlName="birthdate"
          [iconDisplay]="'input'"
          [showIcon]="true"
          inputId="icondisplay"
        />
        @if (displayErrors && birthdateError) {
        <p class="text-xs text-error">{{ birthdateError }}</p>
        }
      </div>

      <!-- GENDER -->
      <!-- TODO AJOUTER TITLE PIPE -->
      <div class="flex flex-col gap-y-1">
        @for (gender of genders; track $index) {
        <div class="felx items-center gap-1">
          <p-radiobutton
            [inputId]="gender.label"
            [value]="gender.value"
            formControlName="gender"
          />
          <label [for]="gender.label" class="ml-2">{{ gender.label }}</label>
        </div>
        } @if (displayErrors && genderError) {
        <p class="text-xs text-error">{{ genderError }}</p>
        }
      </div>

      <!-- RACE -->
      <!-- TODO AJOUTER TITLE PIPE -->
      <div class="flex flex-col gap-y-1">
        <label for="birthdate" class="text-sm">Race</label>
        @if (breeds$ | async; as breeds) {
        <p-select
          [options]="breeds"
          formControlName="selectedBreed"
          optionLabel="name"
          filterBy="name"
          [filter]="true"
          [showClear]="true"
          [checkmark]="true"
          placeholder="Race de votre chien"
          class="w-full md:w-56"
          emptyMessage="Pas de races disponible"
          styleClass="custom-select"
        >
          <ng-template #selectedItem let-selectedOption>
            <div>{{ selectedOption.name }}</div>
          </ng-template>
          <ng-template let-breed #item>
            <div>{{ breed.name }}</div>
          </ng-template>
        </p-select>
        } @else {
        <!-- TODO ICI METTRE UN LOADER -->
        <div class="w-full h-10 bg-blue-400 rounded-lg md:w-56"></div>
        } @if (displayErrors && breedError) {
        <p class="text-xs text-error">{{ breedError }}</p>
        }
      </div>
    </div>

    <div class="mt-10">
      <app-button>Ajouter</app-button>
    </div>
  </form>
</app-card-wrapper>

<!-- TODO DECOMMENTER QUAND TESTS FINIS ET QUE MON CHOIX SERA FAIT SUR COMMENT LES AFFICHER -->
<!-- IDEE
   FAIRE UN TAB AVEC LE NOM DES CHIENS ET AFFICHER LES INFOS, UN PEU STATISTIQUES GENRE :
   - NOMBRE DE COURS SUIVIS DEJA
   - UN GRAPHIQUE AVEC LES DIFFERENTS TYPES DE COURS SUIVIS genre bar chart avec agility 2, detection: 0, canicross 3 etc
   - DATE D'ANNIVERSAIRE OU COMBIEN DE JOURS AVANT SON ANNIVERSAIRE
   - TROUVER D'AUTRES IDEES SUR L'AFFICHAGE
   -->
<!--  @for (dog of dogs; track $index) {
  <div
    class="py-3.5 px-4 bg-white border border-border rounded-lg shadow-sm flex items-center justify-between"
  >
    <div class="flex items-baseline gap-x-3.5">
      <h2 class="font-semibold text-lg">{{ dog.name }}</h2>
      <p class="text-base">{{ dog.breed }}</p>
    </div>
    <div class="flex items-center gap-x-2">
      <p>Modifier</p>
      <p>Supprimer</p>
    </div>
  </div>
  } -->

<!-- TODO FAIRE UN GRAPHIQUE EN MODE PES AVEC LES INFOS -->
<!-- 
   -->

<!-- TODO FAIRE UNE SECTION DE BADGES -->
