@if (dogs$ | async; as dogs) {
<div
  class="flex flex-col gap-4 sm:flex-row sm:gap-0 items-center justify-between"
>
  <h1 class="text-2xl md:text-3xl font-semibold">
    {{ dogs.length > 1 ? "Mes chiens" : "Mon chien" }}
  </h1>
  <app-button
    [routerLink]="[AppRoutes.app.user.dogFull, AppRoutes.app.user.addDog]"
    iconName="ionPawOutline"
    iconClass="text-white"
  >
    Ajouter un chien
  </app-button>
</div>

<!-- TODO REVOIR CAR BUG IL PASSE DEDANS MÊME SI PAS DE CHIENS -->
<div class="mt-3 sm:mt-5">
  <p-tabs [value]="dogs[0].id">
    <p-tablist>
      @for (dog of dogs; track dog.id) {
      <p-tab [value]="dog.id">
        <div class="flex items-center gap-2">
          <div class="size-[44px] rounded-full drop-shadow-lg">
            <img
              src="/images/dog-avatar/{{ dog.avatarUrl }}"
              alt="Dog image"
              srcset=""
              class="rounded-full"
            />
          </div>
          <p class="text-2xl">
            {{ dog.name }}
          </p>
        </div>
      </p-tab>
      }
    </p-tablist>

    <p-tabpanels>
      @for (dog of dogs; track dog.id) {
      <p-tabpanel [value]="dog.id">
        <div>
          <h2 class="">Informations</h2>

          <p>Race : {{ dog.breed.name }}</p>
          <p>Genre : {{ dog.gender }}</p>
          <p>Date de naissance : {{ dog.birthdate | date }}</p>
          <p>Prochain anniversaire : FAIRE LE CALCUL</p>
          <p>Inscrit depuis : {{ dog.createdAt }}</p>
          <p>Nombre de cours suivis : FAIRE LE CALCUL</p>
          <p>Prochain cours : FAIRE LE CALCUL</p>
          @if (dog.updatedAt !== null) {
          <p>Dernière modification du profil : {{ dog.updatedAt }}</p>
          }
        </div>
      </p-tabpanel>
      }
    </p-tabpanels>
  </p-tabs>

  <p-button label="Primary" />
  <p-button label="Secondary" severity="secondary" />
  <p-button label="Success" severity="success" />
  <p-button label="Info" severity="info" />
  <p-button label="Warn" severity="warn" />
  <p-button label="Help" severity="help" />
  <p-button label="Danger" severity="danger" />
  <p-button label="Contrast" severity="contrast" />
</div>
} @else {
<!-- TODO ICI FAIRE LOADER -->
<p>Loading</p>
}

<!-- TODO DECOMMENTER QUAND TESTS FINIS ET QUE MON CHOIX SERA FAIT SUR COMMENT LES AFFICHER -->
<!-- IDEE
   FAIRE UN TAB AVEC LE NOM DES CHIENS ET AFFICHER LES INFOS, UN PEU STATISTIQUES GENRE :
   - NOMBRE DE COURS SUIVIS DEJA
   - UN GRAPHIQUE AVEC LES DIFFERENTS TYPES DE COURS SUIVIS genre bar chart avec agility 2, detection: 0, canicross 3 etc
   - DATE D'ANNIVERSAIRE OU COMBIEN DE JOURS AVANT SON ANNIVERSAIRE
   - TROUVER D'AUTRES IDEES SUR L'AFFICHAGE
   -->

<!-- TODO FAIRE UN GRAPHIQUE EN MODE PES AVEC LES INFOS -->
<!-- TODO FAIRE UNE SECTION DE BADGES -->
