<h1 class="text-2xl md:text-3xl font-semibold">Mon compte</h1>

<!-- TODO RECUPERER LES INFOS DE LA BDD (VOIR SI JE FAIS DE L'OFFUSQUATION) -->

<!-- TODO SUREMENT MODIFIER LA DIV PAR UNE BALISE FORM -->
<div class="mt-8 sm:mt-10">
  <div class="sm:w-[500px] sm:mx-auto lg:mt-14">
    <div class="flex flex-col gap-y-5">
      <app-custom-input
        inputName="name"
        label="Nom"
        placeholder="Doe"
        type="text"
      />
      <app-custom-input
        inputName="firstname"
        label="Télephone"
        placeholder="06 00 00 00 00"
        type="text"
      />
      <app-custom-input
        inputName="phone"
        label="Prénom"
        placeholder="John"
        type="tel"
      />
      <app-custom-input
        inputName="mail"
        label="E-mail"
        placeholder="john.doe@gmail.com"
        type="mail"
      />
      <app-custom-input
        inputName="password"
        label="Mot de passe"
        placeholder="********************"
        type="password"
      />
      <!-- TODO PREVOIR UN INPUT POUR CHOISIR UN AVATAR -->
    </div>

    <!-- TODO DISABLED LE BOUTON SI PAS DE CHANGEMENT -->
    <div class="mt-10">
      <app-button> Modifier </app-button>
    </div>
  </div>
</div>
