<button
  class="px-3 py-2.5 flex items-center gap-x-3 group bg-white w-full cursor-pointer rounded-lg border border-white transition duration-300 ease-in-out hover:bg-tab-hover active:bg-ghost-active"
  [routerLink]="url"
  routerLinkActive
  #rla="routerLinkActive"
  [routerLinkActiveOptions]="{ exact: true }"
  [ngClass]="{ '!border-border !shadow-xs hover:!bg-white': rla.isActive }"
>
  <app-custom-icon
    [name]="iconName"
    size="22"
    [class]="rla.isActive ? 'text-main' : 'text-icon'"
  />
  <p class="font-medium pt-0.5">{{ label }}</p>
</button>
