<div
  class="relative h-full p-4 border bg-white border-border rounded-lg shadow-sm flex flex-col gap-2.5 lg:p-5 overflow-hidden"
>
  <!-- Overlay if course is full -->
  @if (isCourseFull) {
  <div
    class="absolute top-0 left-0 right-0 bottom-0 bg-gray-two/50 flex items-center justify-center z-10"
  >
    <div class="bg-white p-4 rounded-md shadow-lg mx-4 text-center max-w-3/4">
      <p class="text-sm font-medium text-text-950">
        Le cours est complet, mais s'il y a un désistement vous pourrez inscrire
        votre chien
      </p>
    </div>
  </div>
  }

  <!-- TODO REVOIR LE RESPONSIVE SI LG OU MD -->
  <div class="lg:flex lg:items-start lg:justify-between">
    <div class="md:min-w-[260px]">
      <h6 class="font-semibold lg:text-lg">{{ course.name }}</h6>
      <div
        class="mt-1 flex items-start gap-x-4 sm:gap-x-5 font-medium text-sm flex-wrap"
      >
        <div class="flex flex-col gap-y-1">
          <p>{{ course.startDate | date : "dd MMMM YYYY à HH:mm" }}</p>
          <p class="text-gray-one">
            <span class="underline">Durée :</span> {{ courseDuration }}
          </p>
        </div>
        <p [ngClass]="placesColor">
          {{ reservedPlaces }} /{{ course.maxParticipants }}
        </p>
      </div>
      <div
        class="mt-1.5 flex items-center gap-x-4 sm:gap-x-5 flex-wrap-reverse gap-y-1.5"
      >
        <app-tag-name [tag]="course.courseType" />
        <p class="font-poppins font-medium text-xs">
          {{ course.coach.firstname }} {{ course.coach.lastname | uppercase }}
        </p>
      </div>
    </div>
    <app-button size="tiny" class="hidden lg:block" (click)="onReserveClick()">
      Réserver
    </app-button>
  </div>
  <p class="text-sm text-gray-one line-clamp-3">
    {{ course.description }}
  </p>
  <app-button size="tiny" class="lg:hidden">Réserver</app-button>
</div>
