<!-- Position top-left -->
<p-toast key="tl" position="top-left" styleClass="custom-toast"> </p-toast>

<!-- Position top-right -->
<p-toast key="tr" position="top-right" styleClass="custom-toast"> </p-toast>

<!-- Position top-center -->
<p-toast key="tc" position="top-center" styleClass="custom-toast"> </p-toast>

<!-- Position bottom-left -->
<p-toast key="bl" position="bottom-left" styleClass="custom-toast"> </p-toast>

<!-- Position bottom-right -->
<p-toast key="br" position="bottom-right" styleClass="custom-toast"> </p-toast>

<!-- Position bottom-center -->
<p-toast key="bc" position="bottom-center" styleClass="custom-toast"> </p-toast>

<!-- Position center -->
<p-toast key="c" position="center" styleClass="custom-toast"> </p-toast>

<!-- Router -->
<router-outlet />

<!-- TODO SUPPRIMER EN DESSOUS CE QU'IL Y A QUAND TESTS FINIS -->
<!-- <h1 class="text-3xl underline text-main font-bold text-center">
  Hello {{ title }}
</h1>

<div class="mt-4 mx-auto w-max">
  <app-button type="primary" class="mt-6" (onClick)="handleClickPrimary()">
    Bouton primary</app-button
  >
</div>

<div class="mt-4 mx-auto w-max">
  <app-button type="ghost">Bouton ghost</app-button>
</div>

<div class="mt-4 mx-auto w-max">
  <app-button
    type="primary"
    class="mt-6"
    (onClick)="handleClickPrimary()"
    size="tiny"
  >
    Bouton primary</app-button
  >
</div>

<div class="mt-4 mx-auto w-max">
  <app-button type="ghost" size="tiny">Bouton ghost</app-button>
</div>

<h2 class="mt-5">Tag name TINY :</h2>
<div class="flex items-center mx-auto gap-10 flex-wrap mt-4 lg:w-max">
  @for (tag of tagsTiny; track $index) {
  <app-tag-name [tag]="tag"> Tag {{ tag.name }}</app-tag-name>
  }
</div>

<h2 class="mt-5">Tag name NORMAL :</h2>
<div class="flex items-center mx-auto gap-10 flex-wrap mt-4 lg:w-max">
  @for (tag of tagsNormal; track $index) {
  <app-tag-name [tag]="tag"> Tag {{ tag.name }}</app-tag-name>
  }
</div>

<h2 class="mt-5">Card pour la réservation des cours :</h2>
<div class="mt-4 grid grid-cols-1 gap-6 md:grid-cols-3">
  @for (course of courses; track $index) {
  <app-card-course [course]="course" />
  }
</div>

<h2 class="mt-5">Card pour les cours déjà réservés :</h2>
<div class="mt-4 grid grid-cols-1 gap-6 md:grid-cols-3">
  @for (reservedCourse of reservedCourses; track $index) {
  <app-card-reserved-course [course]="reservedCourse" />
  }
</div>

<h2 class="mt-5">Card pour les chiens :</h2>
<div class="mt-4 grid grid-cols-1 gap-6 md:grid-cols-2 lg:grid-cols-3">
  @for (dog of dogs; track $index) {
  <app-card-dog [dog]="dog" />
  }
</div>

<h2 class="mt-5">Composant CustomInput :</h2>
<div class="w-1/3 mx-auto flex flex-col gap-y-3">
  <app-custom-input
    type="text"
    label="Nom *"
    placeholder="Doe"
    hintMessage="Veuillez renseigner votre nom"
  />
  <app-custom-input
    type="text"
    label="Prénom *"
    placeholder="Jane"
    hintMessage="Veuillez renseigner votre prénom"
  />
  <app-custom-input
    type="mail"
    label="E-mail *"
    placeholder="jane.doe@gmail.com"
    hintMessage="Veuillez renseigner votre e-mail"
  />
  <app-custom-input
    type="password"
    label="Mot de passe *"
    placeholder="********************"
    hintMessage="Utilisez un mot de passe fort"
  />
  <app-custom-input
    type="password"
    label="Mot de passe *"
    placeholder="********************"
    hintMessage="Pour vérifier que le mot de passe correspond"
  />
</div>
 -->
