<div class="px-5 py-4 border-b border-border shadow-sm md:px-10 lg:px-0">
  <div
    class="flex items-center justify-between lg:max-w-[1166px] xl:max-w-[1474px] lg:mx-auto"
  >
    <!-- TODO FAIRE UN LIEN SUR LES LOGOS -->
    <div class="max-w-[70px] sm:hidden">
      <img
        src="/images/logos/k9-logo-dark-mobile.png"
        alt="Logo du K9 Club"
        srcset=""
      />
    </div>
    <div class="max-w-[150px] hidden sm:block lg:max-w-[180px]">
      <img
        src="/images/logos/k9-logo-dark.png"
        alt="Logo du K9 Club"
        srcset=""
      />
    </div>
    <nav class="flex items-center gap-x-4">
      <app-button
        type="ghost"
        size="tiny"
        [routerLink]="AppRoutes.auth.registerFull"
      >
        S'inscrire
      </app-button>
      <app-button size="tiny" [routerLink]="AppRoutes.auth.loginFull">
        Se connecter
      </app-button>
    </nav>
  </div>
</div>
