<!-- TODO METTRE LES BONS LIENS QUAND LES PAGES SERONT FINIES -->
<!-- TODO FAIRE LE RESPONSIVE -->
<div class="h-full px-4 pt-4">
  <button
    [routerLink]="AppRoutes.home"
    class="flex items-center gap-x-1 cursor-pointer hover:text-main active:text-main-500 transition-all duration-300 ease-in-out"
  >
    <!-- TODO CHANGER L'ICONE QUAND J'AURAIS UNE BIBLIOTHEQUE -->
    <img src="/icons/chevron-left.png" alt="" />
    <p class="text-xs">Retour</p>
  </button>
  <div class="w-[375px] mx-auto flex items-center justify-center h-full">
    <div class="">
      <div>
        <h2 class="text-2xl font-bold text-main">Créer votre compte</h2>
        <p class="mt-1">
          Remplissez les informations ci-dessous pour créer votre compte.
        </p>
      </div>

      <div class="flex flex-col gap-y-8 mt-6">
        <div class="flex flex-col gap-y-4">
          <app-custom-input label="Nom" placeholder="Doe" type="text" />
          <app-custom-input label="Prénom" placeholder="John" type="text" />
          <app-custom-input
            label="E-mail"
            placeholder="john.doe@gmail.com"
            type="mail"
          />
          <app-custom-input
            label="Mot de passe"
            placeholder="********************"
            type="password"
          />
        </div>

        <div class="flex items-start gap-x-2">
          <input type="checkbox" name="cgv" id="cgv" class="mt-1" />
          <div class="flex flex-col gap-y-1">
            <label for="cgv" class="block text-sm">
              J’accepte les conditions générales de K9 Club
            </label>
            <a href="#" class="text-main underline block text-xs">
              Voir les conditions générales
            </a>
          </div>
        </div>

        <app-button>S'inscrire</app-button>
      </div>

      <p class="mt-6">
        Déjà membre ? <a href="#" class="text-main underline">Connectez-vous</a>
      </p>
    </div>
  </div>
</div>
