.custom-table .p-datatable-thead > tr > th.p-datatable-column-sorted {
  background: var(--color-main-100);
  color: var(--color-main-700);
}

.custom-table .p-datatable-tbody tr:nth-child(even) {
  background: var(--color-text-100);
}

.custom-table .p-datatable-tbody > tr > td {
  white-space: nowrap;
}

.custom-table .p-datatable-thead > tr > th {
  white-space: nowrap;
}
