<div
  class="px-5 pt-10 pb-20 md:pt-14 md:px-10 lg:pt-16 lg:w-[1166px] lg:mx-auto lg:px-0 xl:w-[1474px]"
>
  <h1 class="text-3xl font-bold text-main-800 text-center lg:text-4xl">
    Conditions Générales d’Utilisation
  </h1>

  <div class="mt-6 flex flex-col gap-y-6 md:mt-10">
    <div class="flex flex-col gap-y-3">
      <h2 class="text-xl font-bold text-main lg:text-2xl">1. Objet</h2>
      <div
        class="flex flex-col gap-y-1 lg:w-[700px] xl:w-[1000px] text-text lg:text-lg"
      >
        <p>
          Les présentes Conditions Générales d’Utilisation (CGU) ont pour objet
          de définir les modalités d’accès et d’utilisation de l’application
          “Club Canin”.
        </p>
      </div>
    </div>

    <div class="flex flex-col gap-y-3">
      <h2 class="text-xl font-bold text-main lg:text-2xl">
        2. Accès à l’application
      </h2>
      <div
        class="flex flex-col gap-y-1 lg:w-[700px] xl:w-[1000px] text-text lg:text-lg"
      >
        <p>
          L’accès à l’application est réservé aux utilisateurs inscrits. En
          utilisant l’application, l’utilisateur accepte pleinement et
          entièrement les présentes CGU.
        </p>
      </div>
    </div>

    <div class="flex flex-col gap-y-3">
      <h2 class="text-xl font-bold text-main lg:text-2xl">
        3. Création de compte
      </h2>
      <div
        class="flex flex-col gap-y-1 lg:w-[700px] xl:w-[1000px] text-text lg:text-lg"
      >
        <p>
          Lors de son inscription, l’utilisateur s’engage à fournir des
          informations exactes et à jour. L’usurpation d’identité ou la création
          de comptes frauduleux est strictement interdite.
        </p>
      </div>
    </div>

    <div class="flex flex-col gap-y-3">
      <h2 class="text-xl font-bold text-main lg:text-2xl">
        4. Données personnelles
      </h2>
      <div
        class="flex flex-col gap-y-1 lg:w-[700px] xl:w-[1000px] text-text lg:text-lg"
      >
        <p>
          L’application collecte et traite les données personnelles dans le
          respect du RGPD. Les utilisateurs disposent d’un droit d’accès, de
          modification, de suppression et de portabilité de leurs données, à
          exercer via l’adresse email : support&#64;k9club.com.
        </p>
        <p>
          Les données sont chiffrées, stockées en sécurité, et ne sont en aucun
          cas partagées à des tiers sans consentement explicite.
        </p>
      </div>
    </div>

    <div class="flex flex-col gap-y-3">
      <h2 class="text-xl font-bold text-main lg:text-2xl">5. Sécurité</h2>
      <div
        class="flex flex-col gap-y-1 lg:w-[700px] xl:w-[1000px] text-text lg:text-lg"
      >
        <p>
          L’application applique les recommandations de l’ANSSI : chiffrement
          des mots de passe, protection des accès, gestion des rôles
          utilisateurs, validation des données, et utilisation du protocole
          HTTPS.
        </p>
      </div>
    </div>

    <div class="flex flex-col gap-y-3">
      <h2 class="text-xl font-bold text-main lg:text-2xl">6. Cookies</h2>
      <div
        class="flex flex-col gap-y-1 lg:w-[700px] xl:w-[1000px] text-text lg:text-lg"
      >
        <p>
          L’application utilise uniquement des cookies techniques indispensables
          à son bon fonctionnement. Aucun cookie publicitaire ou de traçage
          n’est utilisé.
        </p>
      </div>
    </div>

    <div class="flex flex-col gap-y-3">
      <h2 class="text-xl font-bold text-main lg:text-2xl">
        7. Responsabilités
      </h2>
      <div
        class="flex flex-col gap-y-1 lg:w-[700px] xl:w-[1000px] text-text lg:text-lg"
      >
        <p>
          L’éditeur ne pourra être tenu responsable d’éventuels
          dysfonctionnements ou pertes de données causés par un usage
          inapproprié de l’application ou par des événements extérieurs (panne
          serveur, force majeure, etc.).
        </p>
      </div>
    </div>

    <div class="flex flex-col gap-y-3">
      <h2 class="text-xl font-bold text-main lg:text-2xl">
        8. Modification des CGU
      </h2>
      <div
        class="flex flex-col gap-y-1 lg:w-[700px] xl:w-[1000px] text-text lg:text-lg"
      >
        <p>
          Les présentes CGU peuvent être modifiées à tout moment. Les
          utilisateurs seront informés lors de leur prochaine connexion.
        </p>
      </div>
    </div>

    <div class="flex flex-col gap-y-3">
      <h2 class="text-xl font-bold text-main lg:text-2xl">9. Loi applicable</h2>
      <div
        class="flex flex-col gap-y-1 lg:w-[700px] xl:w-[1000px] text-text lg:text-lg"
      >
        <p>
          Les présentes conditions sont régies par le droit français. En cas de
          litige, une solution amiable sera recherchée prioritairement.
        </p>
      </div>
    </div>
  </div>
</div>
