<div
  class="p-3 bg-white border border-border rounded-lg shadow-sm flex flex-col gap-4 md:p-6"
>
  <!-- FIRST ROW -->
  <div class="flex items-center justify-between flex-wrap gap-x-4 gap-y-2">
    <div class="flex items-center gap-x-3">
      <div class="w-[52px] h-[52px] bg-amber-200 rounded-full shadow-md"></div>
      <div class="flex flex-col gap-y-1 md:gap-y-0">
        <p class="font-poppins font-semibold md:text-lg">Rex</p>
        <p class="text-gray-one text-sm md:text-base">Berger allemand</p>
      </div>
    </div>
    <div class="border border-main py-2 px-3 rounded-lg shadow-xs">
      <p class="text-main text-sm font-medium">5 ans</p>
    </div>
  </div>

  <!-- SECOND ROW -->
  <div class="grid grid-cols-1 xs:grid-cols-2">
    <div class="flex flex-col gap-y-1">
      <p class="font-poppins font-semibold md:text-lg">Cours suivis</p>
      <p class="text-gray-one text-sm md:text-base">2</p>
    </div>
    <div class="flex flex-col gap-y-1">
      <p class="font-poppins font-semibold md:text-lg">Prochain cours</p>
      <div class="flex items-end gap-x-2 flex-wrap gap-y-1 xs:justify-between">
        <p class="text-gray-one text-sm md:text-base">25 mars 2025</p>
        <app-tag-name [tag]="{ name: 'detection' }" />
      </div>
    </div>
  </div>

  <!-- THIRD ROW -->
  <div class="grid grid-cols-1 xs:grid-cols-2">
    <div class="flex flex-col gap-y-1">
      <p class="font-poppins font-semibold md:text-lg">Inscrit depuis</p>
      <p class="text-gray-one text-sm md:text-base">17 mars 1014</p>
    </div>
    <div class="flex flex-col gap-y-1">
      <p class="font-poppins font-semibold md:text-lg">Badges</p>
      <div class="flex items-center gap-2 flex-wrap">
        <div class="w-6 h-6 bg-amber-800"></div>
        <div class="w-6 h-6 bg-amber-800"></div>
        <div class="w-6 h-6 bg-amber-800"></div>
        <div class="w-6 h-6 bg-amber-800"></div>
        <div class="w-6 h-6 bg-amber-800"></div>
        <div class="w-6 h-6 bg-amber-800"></div>
        <div class="w-6 h-6 bg-amber-800"></div>
        <div class="w-6 h-6 bg-amber-800"></div>
        <div class="w-6 h-6 bg-amber-800"></div>
      </div>
    </div>
  </div>
</div>
