<!-- ------------ -->
<!-- HERO SECTION -->
<!-- ------------ -->
<div class="px-5 py-10 flex flex-col gap-y-10">
  <div class="flex flex-col gap-y-6">
    <div class="flex flex-col gap-y-6">
      <h1 class="font-bold text-main text-4xl text-center">
        K9 Club : <br />
        Le meilleur pour votre chien !
      </h1>
      <p class="text-text">
        Offrez à votre compagnon à quatre pattes une éducation adaptée à son âge
        et à ses besoins. <strong class="text-main">K9 Club</strong> est
        l'application idéale pour organiser et gérer facilement les cours
        canins.
      </p>
      <p class="text-text">
        Que vous soyez propriétaire d'un chiot ou d'un chien adulte, notre
        plateforme vous permet d'accéder à des séances encadrées par des
        experts, de suivre le planning des cours et d'assurer une progression
        optimale de votre animal.
      </p>
    </div>
    <div class="flex flex-col gap-y-2">
      <div class="flex items-center gap-x-3">
        <div class="size-6">
          <!-- TODO REMPLACER PAR DES ICONES https://ng-icons.github.io/ng-icons/#/ -->
          <img src="/icons/icon-validation.png" alt="" srcset="" />
        </div>
        <p class="text-sm">Des cours adaptés à chaque chien</p>
      </div>
      <div class="flex items-center gap-x-3">
        <div class="size-6">
          <!-- TODO REMPLACER PAR DES ICONES https://ng-icons.github.io/ng-icons/#/ -->
          <img src="/icons/icon-validation.png" alt="" srcset="" />
        </div>
        <p class="text-sm">Une gestion simple et rapide des inscriptions</p>
      </div>
      <div class="flex items-center gap-x-3">
        <div class="size-6">
          <!-- TODO REMPLACER PAR DES ICONES https://ng-icons.github.io/ng-icons/#/ -->
          <img src="/icons/icon-validation.png" alt="" srcset="" />
        </div>
        <p class="text-sm">Une interface fluide pour une expérience optimale</p>
      </div>
    </div>
    <!-- TODO METTRE LES LIENS QUAND LES PAGES SERONT FINIES -->
    <div class="flex items-center justify-center gap-x-8">
      <app-button type="ghost" size="normal">S'inscrire</app-button>
      <app-button size="normal">Se connecter</app-button>
    </div>
  </div>
  <div class="size-[250px] mx-auto">
    <img
      src="/images/home/hero-golden-retriever.png"
      alt="Illustration d'un golden retriever portant un béret rouge"
      class="drop-shadow-hero"
    />
  </div>
</div>

<!-- --------------- -->
<!-- COURSES SECTION -->
<!-- --------------- -->
<div class="px-5 pb-6">
  <h2 class="font-bold text-2xl text-main text-center">
    Découvrez nos cours canins
  </h2>
  <p class="mt-6">
    Offrez à votre chien une éducation adaptée à ses besoins et à son âge. Nos
    séances sont conçues pour améliorer la relation maître-chien tout en
    garantissant une progression optimale. Filtrez les cours par catégorie et
    trouvez celui qui convient le mieux à votre compagnon !
  </p>
  <div class="flex flex-col gap-y-4 mt-6">
    <div class="flex items-center gap-x-2">
      <input type="checkbox" name="all" id="all" />
      <label for="all" class="text-sm">Tous</label>
    </div>
    <div class="flex items-center gap-x-2">
      <input type="checkbox" name="base" id="base" />
      <label for="base" class="text-sm">Coméptences de base</label>
    </div>
    <div class="flex items-center gap-x-2">
      <input type="checkbox" name="sport" id="sport" />
      <label for="sport" class="text-sm">Coméptences sportives</label>
    </div>
    <div class="flex items-center gap-x-2">
      <input type="checkbox" name="detection" id="detection" />
      <label for="detection" class="text-sm">Coméptences de flair</label>
    </div>
    <div class="flex items-center gap-x-2">
      <input type="checkbox" name="avanced" id="avanced" />
      <label for="avanced" class="text-sm">Coméptences avancées</label>
    </div>
  </div>
  <div class="mt-6 grid grid-cols-1 gap-6">
    <!-- TODO EN FAIRE UN COMPOSANT PLUS TARD -->
    <div
      class="p-[18px] border border-main rounded-lg flex flex-col gap-y-4 shadow-lg"
    >
      <div class="w-full">
        <img
          src="/images/courses/course-slalom.jpg"
          alt=""
          class="rounded-md shadow-md"
        />
      </div>
      <h3 class="font-bold text-main">Rappel parfait</h3>
      <p class="text-sm">
        Apprenez à votre chien à revenir immédiatement lorsque vous l’appelez,
        même en présence de distractions.
      </p>
    </div>
    <div
      class="p-[18px] border border-main rounded-lg flex flex-col gap-y-4 shadow-lg"
    >
      <div class="w-full">
        <img
          src="/images/courses/course-slalom.jpg"
          alt=""
          class="rounded-md shadow-md"
        />
      </div>
      <h3 class="font-bold text-main">Rappel parfait</h3>
      <p class="text-sm">
        Apprenez à votre chien à revenir immédiatement lorsque vous l’appelez,
        même en présence de distractions.
      </p>
    </div>
    <div
      class="p-[18px] border border-main rounded-lg flex flex-col gap-y-4 shadow-lg"
    >
      <div class="w-full">
        <img
          src="/images/courses/course-slalom.jpg"
          alt=""
          class="rounded-md shadow-md"
        />
      </div>
      <h3 class="font-bold text-main">Rappel parfait</h3>
      <p class="text-sm">
        Apprenez à votre chien à revenir immédiatement lorsque vous l’appelez,
        même en présence de distractions.
      </p>
    </div>
    <div
      class="p-[18px] border border-main rounded-lg flex flex-col gap-y-4 shadow-lg"
    >
      <div class="w-full">
        <img
          src="/images/courses/course-slalom.jpg"
          alt=""
          class="rounded-md shadow-md"
        />
      </div>
      <h3 class="font-bold text-main">Rappel parfait</h3>
      <p class="text-sm">
        Apprenez à votre chien à revenir immédiatement lorsque vous l’appelez,
        même en présence de distractions.
      </p>
    </div>
    <div
      class="p-[18px] border border-main rounded-lg flex flex-col gap-y-4 shadow-lg"
    >
      <div class="w-full">
        <img
          src="/images/courses/course-slalom.jpg"
          alt=""
          class="rounded-md shadow-md"
        />
      </div>
      <h3 class="font-bold text-main">Rappel parfait</h3>
      <p class="text-sm">
        Apprenez à votre chien à revenir immédiatement lorsque vous l’appelez,
        même en présence de distractions.
      </p>
    </div>
    <div
      class="p-[18px] border border-main rounded-lg flex flex-col gap-y-4 shadow-lg"
    >
      <div class="w-full">
        <img
          src="/images/courses/course-slalom.jpg"
          alt=""
          class="rounded-md shadow-md"
        />
      </div>
      <h3 class="font-bold text-main">Rappel parfait</h3>
      <p class="text-sm">
        Apprenez à votre chien à revenir immédiatement lorsque vous l’appelez,
        même en présence de distractions.
      </p>
    </div>
    <div
      class="p-[18px] border border-main rounded-lg flex flex-col gap-y-4 shadow-lg"
    >
      <div class="w-full">
        <img
          src="/images/courses/course-slalom.jpg"
          alt=""
          class="rounded-md shadow-md"
        />
      </div>
      <h3 class="font-bold text-main">Rappel parfait</h3>
      <p class="text-sm">
        Apprenez à votre chien à revenir immédiatement lorsque vous l’appelez,
        même en présence de distractions.
      </p>
    </div>
  </div>
  <!-- TODO METTRE LES LIENS QUAND LES PAGES SERONT FINIES -->
  <div class="flex items-center justify-center gap-x-8 mt-11">
    <app-button type="ghost" size="normal">S'inscrire</app-button>
    <app-button size="normal">Se connecter</app-button>
  </div>
</div>
