<div>
  <div>
    <div>
      <h1>
        K9 Club : <br />
        Le meilleur pour votre chien !
      </h1>
      <p>
        Offrez à votre compagnon à quatre pattes une éducation adaptée à son âge
        et à ses besoins. K9 Club est l'application idéale pour organiser et
        gérer facilement les cours canins.
      </p>
      <p>
        Que vous soyez propriétaire d'un chiot ou d'un chien adulte, notre
        plateforme vous permet d'accéder à des séances encadrées par des
        experts, de suivre le planning des cours et d'assurer une progression
        optimale de votre animal.
      </p>
    </div>
    <div>
      <div>
        <p>V</p>
        <p>Des cours adaptés à chaque chien</p>
      </div>
      <div>
        <p>V</p>
        <p>Une gestion simple et rapide des inscriptions</p>
      </div>
      <div>
        <p>V</p>
        <p>Une interface fluide pour une expérience optimale</p>
      </div>
    </div>
    <div class="flex items-center justify-center gap-x-8">
      <app-button type="ghost" size="normal">S'inscrire</app-button>
      <app-button size="normal">Se connecter</app-button>
    </div>
  </div>
  <div>
    <img
      src="/images/home/hero-golden-retriever.png"
      alt="Illustration d'un golden retriever portant un béret rouge"
    />
  </div>
</div>
