<!-- ------------ -->
<!-- HERO SECTION -->
<!-- ------------ -->
<div
  class="px-5 py-10 flex flex-col gap-y-10 sm:gap-y-16 md:pt-10 md:pb-16 lg:pt-16 lg:px-0 lg:flex-row lg:items-center lg:max-w-[1100px] lg:mx-auto lg:justify-between xl:max-w-[1300px] xl:pt-[120px] xl:pb-28"
>
  <div
    class="flex flex-col gap-y-6 sm:w-[550px] sm:mx-auto sm:gap-y-8 lg:w-[590px] lg:mx-0 xl:gap-y-12"
  >
    <div class="flex flex-col gap-y-6 xl:gap-y-12">
      <h1
        class="font-bold text-main text-4xl text-center lg:text-5xl xl:text-[52px]"
      >
        K9 Club : <br />
        Le meilleur pour votre chien !
      </h1>
      <div class="text-lg">
        <p class="text-text">
          Offrez à votre compagnon à quatre pattes une éducation adaptée à son
          âge et à ses besoins. <strong class="text-main">K9 Club</strong> est
          l'application idéale pour organiser et gérer facilement les cours
          canins.
        </p>
        <p class="text-text mt-1 xl:mt-4">
          Que vous soyez propriétaire d'un chiot ou d'un chien adulte, notre
          plateforme vous permet d'accéder à des séances encadrées par des
          experts, de suivre le planning des cours et d'assurer une progression
          optimale de votre animal.
        </p>
      </div>
    </div>
    <div class="flex flex-col gap-y-2 max-w-max mx-auto">
      <div class="flex items-center gap-x-3">
        <div class="size-6">
          <!-- TODO REMPLACER PAR DES ICONES https://ng-icons.github.io/ng-icons/#/ -->
          <img src="/icons/icon-validation.png" alt="" srcset="" />
        </div>
        <p class="text-sm xl:text-base">Des cours adaptés à chaque chien</p>
      </div>
      <div class="flex items-center gap-x-3">
        <div class="size-6">
          <!-- TODO REMPLACER PAR DES ICONES https://ng-icons.github.io/ng-icons/#/ -->
          <img src="/icons/icon-validation.png" alt="" srcset="" />
        </div>
        <p class="text-sm xl:text-base">
          Une gestion simple et rapide des inscriptions
        </p>
      </div>
      <div class="flex items-center gap-x-3">
        <div class="size-6">
          <!-- TODO REMPLACER PAR DES ICONES https://ng-icons.github.io/ng-icons/#/ -->
          <img src="/icons/icon-validation.png" alt="" srcset="" />
        </div>
        <p class="text-sm xl:text-base">
          Une interface fluide pour une expérience optimale
        </p>
      </div>
    </div>
    <!-- TODO METTRE LES LIENS QUAND LES PAGES SERONT FINIES -->
    <div class="flex items-center justify-center gap-x-8">
      <app-button type="ghost" size="normal">S'inscrire</app-button>
      <app-button size="normal">Se connecter</app-button>
    </div>
  </div>
  <div
    class="size-[250px] mx-auto md:size-[300px] lg:size-[350px] lg:mx-0 xl:size-[452px]"
  >
    <img
      src="/images/home/hero-golden-retriever.png"
      alt="Illustration d'un golden retriever portant un béret rouge"
      class="drop-shadow-hero"
    />
  </div>
</div>

<!-- --------------- -->
<!-- COURSES SECTION -->
<!-- --------------- -->
<div
  class="px-5 pb-6 mt-10 md:px-10 lg:px-0 lg:max-w-[1166px] lg:mx-auto xl:max-w-[1474px] xl:mt-0 xl:pt-20"
>
  <h2
    class="font-bold text-2xl text-main text-center sm:text-3xl lg:text-4xl xl:text-5xl"
  >
    Découvrez nos cours canins
  </h2>
  <p class="mt-6 md:w-2/3 md:mx-auto lg:text-lg lg:mt-10">
    Offrez à votre chien une éducation adaptée à ses besoins et à son âge. Nos
    séances sont conçues pour améliorer la relation maître-chien tout en
    garantissant une progression optimale. Filtrez les cours par catégorie et
    trouvez celui qui convient le mieux à votre compagnon !
  </p>
  <div
    class="flex flex-col gap-y-4 mt-6 sm:flex-row sm:gap-x-4 sm:flex-wrap lg:mt-10"
  >
    <div class="flex items-center gap-x-2">
      <input type="checkbox" name="all" id="all" />
      <label for="all" class="text-sm lg:text-base">Tous</label>
    </div>
    <div class="flex items-center gap-x-2">
      <input type="checkbox" name="base" id="base" />
      <label for="base" class="text-sm lg:text-base">Compétence de base</label>
    </div>
    <div class="flex items-center gap-x-2">
      <input type="checkbox" name="sport" id="sport" />
      <label for="sport" class="text-sm lg:text-base"
        >Compétence sportives</label
      >
    </div>
    <div class="flex items-center gap-x-2">
      <input type="checkbox" name="detection" id="detection" />
      <label for="detection" class="text-sm lg:text-base"
        >Compétence de flair</label
      >
    </div>
    <div class="flex items-center gap-x-2">
      <input type="checkbox" name="avanced" id="avanced" />
      <label for="avanced" class="text-sm lg:text-base"
        >Compétence avancées</label
      >
    </div>
  </div>
  <div
    class="mt-6 grid grid-cols-1 gap-6 sm:grid-cols-2 sm:gap-8 md:gap-10 lg:gap-8 lg:grid-cols-3 xl:gap-10 xl:grid-cols-4"
  >
    <!-- TODO EN FAIRE UN COMPOSANT PLUS TARD -->
    <div
      class="p-[18px] border border-main rounded-lg flex flex-col gap-y-4 shadow-lg"
    >
      <div class="w-full">
        <img
          src="/images/courses/course-slalom.jpg"
          alt=""
          class="rounded-md shadow-md"
        />
      </div>
      <h3 class="font-bold text-main">Rappel parfait</h3>
      <p class="text-sm">
        Apprenez à votre chien à revenir immédiatement lorsque vous l’appelez,
        même en présence de distractions.
      </p>
    </div>
    <div
      class="p-[18px] border border-main rounded-lg flex flex-col gap-y-4 shadow-lg"
    >
      <div class="w-full">
        <img
          src="/images/courses/course-slalom.jpg"
          alt=""
          class="rounded-md shadow-md"
        />
      </div>
      <h3 class="font-bold text-main">Rappel parfait</h3>
      <p class="text-sm">
        Apprenez à votre chien à revenir immédiatement lorsque vous l’appelez,
        même en présence de distractions.
      </p>
    </div>
    <div
      class="p-[18px] border border-main rounded-lg flex flex-col gap-y-4 shadow-lg"
    >
      <div class="w-full">
        <img
          src="/images/courses/course-slalom.jpg"
          alt=""
          class="rounded-md shadow-md"
        />
      </div>
      <h3 class="font-bold text-main">Rappel parfait</h3>
      <p class="text-sm">
        Apprenez à votre chien à revenir immédiatement lorsque vous l’appelez,
        même en présence de distractions.
      </p>
    </div>
    <div
      class="p-[18px] border border-main rounded-lg flex flex-col gap-y-4 shadow-lg"
    >
      <div class="w-full">
        <img
          src="/images/courses/course-slalom.jpg"
          alt=""
          class="rounded-md shadow-md"
        />
      </div>
      <h3 class="font-bold text-main">Rappel parfait</h3>
      <p class="text-sm">
        Apprenez à votre chien à revenir immédiatement lorsque vous l’appelez,
        même en présence de distractions.
      </p>
    </div>
    <div
      class="p-[18px] border border-main rounded-lg flex flex-col gap-y-4 shadow-lg"
    >
      <div class="w-full">
        <img
          src="/images/courses/course-slalom.jpg"
          alt=""
          class="rounded-md shadow-md"
        />
      </div>
      <h3 class="font-bold text-main">Rappel parfait</h3>
      <p class="text-sm">
        Apprenez à votre chien à revenir immédiatement lorsque vous l’appelez,
        même en présence de distractions.
      </p>
    </div>
    <div
      class="p-[18px] border border-main rounded-lg flex flex-col gap-y-4 shadow-lg"
    >
      <div class="w-full">
        <img
          src="/images/courses/course-slalom.jpg"
          alt=""
          class="rounded-md shadow-md"
        />
      </div>
      <h3 class="font-bold text-main">Rappel parfait</h3>
      <p class="text-sm">
        Apprenez à votre chien à revenir immédiatement lorsque vous l’appelez,
        même en présence de distractions.
      </p>
    </div>
    <div
      class="p-[18px] border border-main rounded-lg flex flex-col gap-y-4 shadow-lg"
    >
      <div class="w-full">
        <img
          src="/images/courses/course-slalom.jpg"
          alt=""
          class="rounded-md shadow-md"
        />
      </div>
      <h3 class="font-bold text-main">Rappel parfait</h3>
      <p class="text-sm">
        Apprenez à votre chien à revenir immédiatement lorsque vous l’appelez,
        même en présence de distractions.
      </p>
    </div>
  </div>
  <!-- TODO METTRE LES LIENS QUAND LES PAGES SERONT FINIES -->
  <div class="flex items-center justify-center gap-x-8 mt-11 sm:mt-18">
    <app-button type="ghost" size="normal">S'inscrire</app-button>
    <app-button size="normal">Se connecter</app-button>
  </div>
</div>

<!-- -------------- -->
<!-- WHY US SECTION -->
<!-- -------------- -->
<div
  class="px-5 py-20 flex flex-col items-center gap-y-10 sm:pt-14 lg:flex-row-reverse lg:max-w-[1166px] lg:mx-auto lg:justify-between"
>
  <div class="flex flex-col gap-y-8 sm:w-[550px] sm:mx-auto sm:gap-y-8 lg:mx-0">
    <h2
      class="font-bold text-2xl text-main text-center sm:text-3xl lg:text-4xl xl:text-5xl"
    >
      Pourquoi choisir K9 Club ? 🐶
    </h2>
    <div class="flex flex-col gap-y-2 xl:text-lg">
      <p>
        Chez <strong class="text-main font-bold">K9 Club</strong>, nous mettons
        tout en œuvre pour offrir à chaque chien un enseignement adapté à ses
        besoins et à son niveau.
      </p>
      <p>
        Que ce soit pour l’éducation de base, le sport canin ou le développement
        de compétences spécifiques, notre approche allie expertise et
        bienveillance pour garantir une progression optimale.
      </p>
    </div>
    <div class="flex flex-col gap-y-2 max-w-max mx-auto">
      <div class="flex items-center gap-x-3">
        <div class="size-6">
          <!-- TODO REMPLACER PAR DES ICONES https://ng-icons.github.io/ng-icons/#/ -->
          <img src="/icons/icon-validation.png" alt="" srcset="" />
        </div>
        <p class="text-sm xl:text-base">
          Une équipe de coachs expérimentés et passionnés
        </p>
      </div>
      <div class="flex items-center gap-x-3">
        <div class="size-6">
          <!-- TODO REMPLACER PAR DES ICONES https://ng-icons.github.io/ng-icons/#/ -->
          <img src="/icons/icon-validation.png" alt="" srcset="" />
        </div>
        <p class="text-sm xl:text-base">
          Des cours variés pour tous les niveaux et âges
        </p>
      </div>
      <div class="flex items-center gap-x-3">
        <div class="size-6">
          <!-- TODO REMPLACER PAR DES ICONES https://ng-icons.github.io/ng-icons/#/ -->
          <img src="/icons/icon-validation.png" alt="" srcset="" />
        </div>
        <p class="text-sm xl:text-base">
          Un suivi personnalisé pour chaque chien
        </p>
      </div>
    </div>
    <!-- TODO VOIR SI JE LAISSE LES BOUTONS ICI -->
    <!-- TODO METTRE LES LIENS QUAND LES PAGES SERONT FINIES -->
    <!-- <div class="hidden items-center justify-center gap-x-8 lg:flex">
      <app-button type="ghost" size="normal">S'inscrire</app-button>
      <app-button size="normal">Se connecter</app-button>
    </div> -->
  </div>
  <div class="size-[250px] sm:size-[325px] lg:size-[350px]">
    <img src="/images/home/golden-retriever.png" alt="" srcset="" />
  </div>
</div>

<!-- -------------- -->
<!-- COACHS SECTION -->
<!-- -------------- -->
<div class="px-5 pb-10">
  <h2
    class="font-bold text-2xl text-main text-center sm:text-3xl lg:text-4xl xl:text-5xl"
  >
    Nos coachs
  </h2>
  <div class="mt-10 grid grid-cols-1 gap-6">
    <!-- TODO FAIRE UN COMPOSANT DES CARD POUR CETTE PAGE -->
    <div class="p-[18px] border border-main-800 rounded-lg shadow-md">
      <div class="flex items-center gap-x-3">
        <div class="size-[50px] rounded-full">
          <img
            src="/images/coachs/Lucien_Bramare.png"
            alt=""
            class="rounded-full"
          />
        </div>
        <div class="flex flex-col gap-y-1">
          <h6 class="font-semibold text-main text-sm">
            Hubert BONISSEUR DE LA BATH
          </h6>
          <p class="text-xs text-gray-one">
            Éducation de base & Sociabilisation
          </p>
        </div>
      </div>
      <p class="mt-4">
        Spécialiste en comportement canin, Hubert accompagne chiots et chiens
        adultes dans l’apprentissage des ordres de base et la gestion des
        interactions sociales.
      </p>
    </div>
    <!-- TODO FAIRE UN COMPOSANT DES CARD POUR CETTE PAGE -->
    <div class="p-[18px] border border-main-800 rounded-lg shadow-md">
      <div class="flex items-center gap-x-3">
        <div class="size-[50px] rounded-full">
          <img src="/images/coachs/Lesignac.png" alt="" class="rounded-full" />
        </div>
        <div class="flex flex-col gap-y-1">
          <h6 class="font-semibold text-main text-sm">Armand LESIGNAC</h6>
          <p class="text-xs text-gray-one">Agilité & Sport canin</p>
        </div>
      </div>
      <p class="mt-4">
        Passionné de sports canins, Armand vous guide dans la découverte de
        l’agility, du canicross et des exercices de coordination pour améliorer
        la condition physique de votre chien.
      </p>
    </div>
    <!-- TODO FAIRE UN COMPOSANT DES CARD POUR CETTE PAGE -->
    <div class="p-[18px] border border-main-800 rounded-lg shadow-md">
      <div class="flex items-center gap-x-3">
        <div class="size-[50px] rounded-full">
          <img src="/images/coachs/Larmina.png" alt="" class="rounded-full" />
        </div>
        <div class="flex flex-col gap-y-1">
          <h6 class="font-semibold text-main text-sm">
            Larmina El Akmar Betouche
          </h6>
          <p class="text-xs text-gray-one">Détection & Pistage</p>
        </div>
      </div>
      <p class="mt-4">
        Experte en flair, Larmina entraîne les chiens à retrouver des objets
        cachés, suivre des pistes humaines et développer leur odorat de manière
        ludique et efficace.
      </p>
    </div>
    <!-- TODO FAIRE UN COMPOSANT DES CARD POUR CETTE PAGE -->
    <div class="p-[18px] border border-main-800 rounded-lg shadow-md">
      <div class="flex items-center gap-x-3">
        <div class="size-[50px] rounded-full">
          <img
            src="/images/coachs/Raymond_Pelletier.png"
            alt=""
            class="rounded-full"
          />
        </div>
        <div class="flex flex-col gap-y-1">
          <h6 class="font-semibold text-main text-sm">Raymond PELLETIER</h6>
          <p class="text-xs text-gray-one">Obéissance avancée & réactivité</p>
        </div>
      </div>
      <p class="mt-4">
        Spécialisé dans le dressage avancé, Raymond enseigne aux chiens à
        répondre aux commandes à distance et à réagir face à des situations
        d’urgence.
      </p>
    </div>
    <!-- TODO FAIRE UN COMPOSANT DES CARD POUR CETTE PAGE -->
    <div class="p-[18px] border border-main-800 rounded-lg shadow-md">
      <div class="flex items-center gap-x-3">
        <div class="size-[50px] rounded-full">
          <img src="/images/coachs/Gerhard.png" alt="" class="rounded-full" />
        </div>
        <div class="flex flex-col gap-y-1">
          <h6 class="font-semibold text-main text-sm">Gerhard Moeller</h6>
          <p class="text-xs text-gray-one">Rééducation & Comportement</p>
        </div>
      </div>
      <p class="mt-4">
        Comportementaliste canin, Gerhard aide les chiens à surmonter leurs
        peurs, gérer leur stress et améliorer leur patience au quotidien.
      </p>
    </div>
  </div>

  <!-- TODO METTRE LES LIENS QUAND LES PAGES SERONT FINIES -->
  <div class="flex items-center justify-center gap-x-8 mt-10">
    <app-button type="ghost" size="normal">S'inscrire</app-button>
    <app-button size="normal">Se connecter</app-button>
  </div>
</div>

<!-- -------------- -->
<!-- COACHS SECTION -->
<!-- -------------- -->
<div class="px-5 pt-6 pb-24">
  <h2
    class="font-bold text-2xl text-main text-center sm:text-3xl lg:text-4xl xl:text-5xl"
  >
    Nos partenaires
  </h2>
  <div
    class="mt-7 pt-2.5 flex items-center justify-center flex-wrap gap-8 md:mt-16 lg:gap-12 xl:max-w-[1474px] xl:mx-auto xl:gap-0 xl:justify-between xl:mt-24"
  >
    <div class="sm:w-[100px] md:w-[120px]">
      <img
        src="/images/partners/federation-cynologique-internationale.png"
        alt="Logo de la federation cynologique internationale"
      />
    </div>
    <div class="sm:w-[100px] md:w-[120px]">
      <img
        src="/images/partners/centrale-canine.png"
        alt="Logo de la federation cynologique internationale"
      />
    </div>
    <div class="sm:w-[100px] md:w-[120px]">
      <img
        src="/images/partners/cuncbg.png"
        alt="Logo de la federation cynologique internationale"
      />
    </div>
    <div class="sm:w-[100px] md:w-[120px]">
      <img
        src="/images/partners/american-kennel-club.png"
        alt="Logo de la federation cynologique internationale"
      />
    </div>
    <div class="sm:w-[200px]">
      <img
        src="/images/partners/the-kennel-club.png"
        alt="Logo de la federation cynologique internationale"
      />
    </div>
  </div>
</div>

<!-- -------------- -->
<!-- COACHS SECTION -->
<!-- -------------- -->
<div class="py-10 border-t border-main sm:px-5 md:px-10 lg:px-0 lg:py-20">
  <div
    class="flex flex-col gap-y-10 sm:flex-row sm:justify-between lg:max-w-[1166px] lg:mx-auto xl:max-w-[1474px]"
  >
    <div class="flex items-center justify-center">
      <img src="/images/logos/k9-logo-dark.png" alt="" />
    </div>
    <!-- TODO METTRE LES LIENS QUAND LES PAGES SERONT FINIES -->
    <div class="flex items-center justify-center gap-x-8">
      <app-button type="ghost" size="normal">S'inscrire</app-button>
      <app-button size="normal">Se connecter</app-button>
    </div>
  </div>
</div>
<app-copyright />
