<div
  class="px-5 pt-10 pb-20 md:pt-14 md:px-10 lg:pt-16 lg:w-[1166px] lg:mx-auto lg:px-0 xl:w-[1474px]"
>
  <h1 class="text-3xl font-bold text-main-800 text-center lg:text-4xl">
    Mentions légales
  </h1>

  <div class="mt-6 flex flex-col gap-y-6 md:mt-10">
    <div class="flex flex-col gap-y-3">
      <h2 class="text-xl font-bold text-main lg:text-2xl">
        Éditeur de l’application
      </h2>
      <div
        class="flex flex-col gap-y-1 lg:w-[700px] xl:w-[1000px] text-text lg:text-lg"
      >
        <p><strong class="font-semibold">Nom :</strong> Doe John</p>
        <p>
          <strong class="font-semibold">Adresse :</strong> 86 Rue aux Arènes,
          57000 METZ
        </p>
        <p><strong class="font-semibold">Téléphone :</strong> 06 00 00 00 00</p>
        <p>
          <strong class="font-semibold">Email :</strong> doe.john&#64;k9club.com
        </p>
        <p>
          <strong class="font-semibold">Statut :</strong> Projet pédagogique non
          commercial, réalisé dans le cadre du Titre Professionnel "Concepteur
          Développeur d’Applications" (CDA) - Promo 2025, MNS Metz
        </p>
      </div>
    </div>

    <div class="flex flex-col gap-y-3">
      <h2 class="text-xl font-bold text-main lg:text-2xl">
        Responsable de la publication
      </h2>
      <div
        class="flex flex-col gap-y-1 lg:w-[700px] xl:w-[1000px] text-text lg:text-lg"
      >
        <p><strong class="font-semibold">Nom :</strong> Doe John</p>
      </div>
    </div>

    <div class="flex flex-col gap-y-3">
      <h2 class="text-xl font-bold text-main lg:text-2xl">
        Hébergement de l’application
      </h2>
      <div
        class="flex flex-col gap-y-1 lg:w-[700px] xl:w-[1000px] text-text lg:text-lg"
      >
        <p><strong class="font-semibold">Hébergeur :</strong> AWS</p>
        <p>
          <strong class="font-semibold">Adresse de l’hébergeur :</strong>
          52, rue du port 92000 NANTERRE
        </p>
        <p>
          <strong class="font-semibold">Contact hébergeur :</strong>
          support&#64;aws-france.com
        </p>
      </div>
    </div>

    <div class="flex flex-col gap-y-3">
      <h2 class="text-xl font-bold text-main lg:text-2xl">Développement</h2>
      <div
        class="flex flex-col gap-y-1 lg:w-[700px] xl:w-[1000px] text-text lg:text-lg"
      >
        <p>
          <strong class="font-semibold">Conception et développement :</strong>
          Doe John
        </p>
        <p>
          <strong class="font-semibold">Technologies utilisées :</strong> Java
          Spring Boot (API REST), Angular 19, MySQL, Tailwind CSS
        </p>
      </div>
    </div>

    <div class="flex flex-col gap-y-3">
      <h2 class="text-xl font-bold text-main lg:text-2xl">
        Propriété intellectuelle
      </h2>
      <div
        class="flex flex-col gap-y-1 lg:w-[700px] xl:w-[1000px] text-text lg:text-lg"
      >
        <p>
          <strong class="font-semibold">Contenu :</strong> Les contenus de
          l’application (textes, logo, code source, design) sont protégés au
          titre de la propriété intellectuelle. Toute reproduction, modification
          ou utilisation sans autorisation est interdite.
        </p>
      </div>
    </div>

    <div class="flex flex-col gap-y-3">
      <h2 class="text-xl font-bold text-main lg:text-2xl">
        Données personnelles
      </h2>
      <div
        class="flex flex-col gap-y-1 lg:w-[700px] xl:w-[1000px] text-text lg:text-lg"
      >
        <p>
          <strong class="font-semibold">Respect du RGPD :</strong> L’application
          collecte et traite des données personnelles dans le respect du RGPD.
          Pour plus d’informations, consultez la section “Données personnelles”
          des Conditions Générales d’Utilisation.
        </p>
      </div>
    </div>
  </div>
</div>
