<div class="px-4 pt-4 pb-4 h-full">
  <!-- TODO PREVOIR UN COMPOSANT RETOUR BUTTON POUR NE PAS ME REPETER -->
  <button
    [routerLink]="AppRoutes.home"
    class="flex items-center gap-x-1 cursor-pointer hover:text-main active:text-main-500 transition-all duration-300 ease-in-out md:pl-20 lg:pl-0"
  >
    <!-- TODO CHANGER L'ICONE QUAND J'AURAIS UNE BIBLIOTHEQUE -->
    <img src="/icons/chevron-left.png" alt="" />
    <p class="text-xs">Retour</p>
  </button>

  <div class="flex items-center justify-center h-full">
    <div class="mt-4 lg:mt-0 lg:w-[375px] lg:mx-auto">
      <div>
        <h2 class="text-2xl font-bold text-main">
          Se connecter à votre compte
        </h2>
        <p class="mt-1">Entrez vos identifiants pour accéder à votre compte.</p>
      </div>

      <div
        class="flex flex-col gap-y-8 mt-6 lg:mt-4 lg:gap-y-6 xl:mt-11 xl:gap-y-8"
      >
        <div class="flex flex-col gap-y-4 lg:gap-y-3 xl:gap-y-4">
          <app-custom-input
            label="E-mail"
            placeholder="john.doe@gmail.com"
            type="mail"
          />
          <app-custom-input
            label="Mot de passe"
            placeholder="********************"
            type="password"
          />
        </div>

        <div class="flex items-center gap-x-2">
          <p>Mot de passe oublié ?</p>
          <a href="#" class="text-main underline"
            >Réinitialiser le mot de passe</a
          >
        </div>

        <app-button [routerLink]="AppRoutes.app.dashboardFull">
          Se connecter
        </app-button>
      </div>

      <p class="mt-6">
        Pas encore inscrit ?
        <a
          [routerLink]="AppRoutes.auth.registerFull"
          class="text-main underline"
          >Créez un compte gratuitement</a
        >
        et rejoignez la communauté K9 Club !
      </p>
    </div>
  </div>
</div>
