<div class="px-4 pt-4 pb-4 h-full">
  <app-back-button [routerLink]="AppRoutes.home" />

  <div class="flex items-center justify-center h-full">
    <div class="mt-4 lg:mt-0 lg:w-[375px] lg:mx-auto">
      <div>
        <h2 class="text-2xl font-bold text-main">
          Se connecter à votre compte
        </h2>
        <p class="mt-1">Entrez vos identifiants pour accéder à votre compte.</p>
      </div>

      <form
        [formGroup]="loginForm"
        (ngSubmit)="onConnection()"
        class="flex flex-col gap-y-8 mt-6 lg:mt-4 lg:gap-y-6 xl:mt-11 xl:gap-y-8"
      >
        <div class="flex flex-col gap-y-4 lg:gap-y-3 xl:gap-y-4">
          <app-custom-input
            inputName="mail"
            label="E-mail"
            placeholder="john.doe@gmail.com"
            type="email"
            formControlName="email"
            [errorMessage]="displayErrors ? emailError : ''"
            (valueChange)="onFieldChange()"
          />
          <app-custom-input
            inputName="password"
            label="Mot de passe"
            placeholder="********************"
            type="password"
            formControlName="password"
            [errorMessage]="displayErrors ? passwordError : ''"
            (valueChange)="onFieldChange()"
          />
        </div>

        <div class="flex items-center gap-x-2">
          <p>Mot de passe oublié ?</p>
          <a href="#" class="text-main underline hover:no-underline">
            Réinitialiser le mot de passe
          </a>
        </div>

        <app-button type="submit">Se connecter</app-button>
      </form>

      <p class="mt-6">
        Pas encore inscrit ?
        <a
          [routerLink]="AppRoutes.auth.registerFull"
          class="text-main underline hover:no-underline"
        >
          Créez un compte gratuitement
        </a>
        et rejoignez la communauté K9 Club !
      </p>
    </div>
  </div>
</div>
