<h1 class="text-2xl md:text-3xl font-semibold">Réserver un cours</h1>

<div class="flex flex-col gap-y-4 mt-8 sm:flex-row sm:gap-x-6 md:gap-x-3">
  @if (dogs$ | async; as dogs) {
  <p-select
    [options]="dogs"
    [(ngModel)]="selectedDog"
    [ngModel]="selectedDog ?? dogs[0]"
    optionLabel="name"
    placeholder="Sélectionner un chien"
    [checkmark]="true"
    (onChange)="onSelectDogChange()"
    class="w-full md:w-56"
    emptyMessage="Pas de chien enregistré"
  />
  } @else {

  <!-- TODO ICI METTRE UN LOADER -->

  <div class="w-full h-10 bg-blue-400 rounded-lg md:w-56"></div>
  } @if (courseTypes$ | async; as courseTypes) {
  <p-select
    [options]="courseTypes"
    [(ngModel)]="selectedCourseType"
    optionLabel="name"
    (onChange)="onSelectCourseTypeChange()"
    [showClear]="true"
    placeholder="Type de cours"
    class="w-full md:w-56"
    emptyMessage="Pas de type de cours"
  >
    <ng-template #selectedItem let-selectedOption>
      <app-tag-name [tag]="selectedOption" class="w-full" />
    </ng-template>
    <ng-template let-type #item>
      <div class="w-full">
        <app-tag-name [tag]="type" class="w-full" />
      </div>
    </ng-template>
  </p-select>
  } @else {
  <!-- TODO ICI METTRE UN LOADER -->
  <div class="w-full h-10 bg-blue-400 rounded-lg md:w-56"></div>
  }
</div>

<!-- 


TODO VOIR POUR UN BOUTON "SEE MORE" pour afficher tous les cours
COMME J'AVAIS FAIT POUR LE SITE DE PE AVEC LA GALERIE DE TATTOOS
 

-->

<!-- TODO AFFICHER LA CARD DU EMPTY DOG SI PAS DE CHIEN ICI -->

<div class="mt-8 grid grid-cols-1 gap-6 sm:grid-cols-2 xl:grid-cols-3 xl:mt-6">
  @if (nextCoursesAvailable$ | async; as nextCourse) { @if (nextCourse.length >
  0) { @for (course of nextCourse; track $index) {
  <app-card-course [course]="course" (reserve)="onReserveCourse($event)" />
  } } @else {
  <div class="col-span-full">
    <app-card-empty-course />
  </div>
  } } @else {
  <!-- TODO faire un loader -->
  <p>Chargement des cours...</p>
  }
</div>

<div class="mt-8 flex items-center justify-between">
  <h2 class="font-semibold text-2xl">Les trois prochains cours réservés</h2>

  <!-- TODO REVOIR LE STYLE CAR LEGER SAUT EN CHANGEANT DE CHIEN -->

  @if (totalReservedCoursesCount > 3) {
  <app-button class="hidden sm:block" typeButton="ghost">
    Voir tous les cours réservés
  </app-button>
  }
</div>
<div class="mt-6 grid grid-cols-1 gap-6 sm:grid-cols-2 xl:grid-cols-3">
  @if (nextCoursesReservedForSelectedDog.length > 0) { @for (reservedCourse of
  nextCoursesReservedForSelectedDog; track $index) {
  <app-card-reserved-course [course]="reservedCourse" />
  } } @else {
  <div>
    <app-card-empty-reserved-course />
  </div>
  }
</div>

<!-- TODO AJOUTER LA PROPRIETE ROUTERLINK QUAND J'AURAIS LA PAGE -->
<!-- TODO AFFICHER LE BOUTON QUE S'IL Y A PLUS DE 3 COURS RESERVES -->
<app-button class="mt-10 block sm:hidden" typeButton="ghost">
  Voir tous les cours réservés
</app-button>
